<div fxLayout="column" (mouseup)="mouseup()">
  <div fxFlex class="float-start ms-2 mt-5" style="font-size: 75px"> 🏰 {{ numberOfCastles.toString() }}</div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <div id="plane" class="disableSelection"
           [ngStyle]="{'width.em': 40, 'height.em': 40}"
           [style.transform]="'rotateX(45deg) rotateZ('+ planeRotateDegree +'deg) translateZ(-1em)'"
           (mouseup)="mouseup()">
        <ng-container *ngFor="let g of grid; let idx = index">
          <div fxLayout="column" fxLayoutAlign="center center"
               class="text-dark fw-bolder"
               (mousedown)="mousedown(idx)"
               (mouseover)="mouseover(idx)"
               (mouseup)="mouseup()"
               class="land"
               [ngClass]="{'land-elevation': g > 0}"
               [ngStyle]="{'transform': (g > 0)? 'translateZ(' + g +'em) scaleZ('+ g * .25 +')' : ''}">
                   <ng-container *ngIf="castleBuildableLand(idx)">
                     <span style="font-size: 35px"> 🏰</span>
                   </ng-container>
                   <div  [ngClass]="{'cubeFace': g > 0}"></div>
                   <div [ngClass]="{'cubeFace': g > 0, 'face2': g > 0}"></div>
          </div>
        </ng-container>
      </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
      <button mat-mini-fab (click)="rotatePlaneRight()"><i class="fas fa-backward"></i></button>
      <span class="pe-3"></span>
      <button mat-mini-fab (click)="rotatePlaneLeft()"><i class="fas fa-forward"></i></button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="w-100 p-4 bg-dark">
    <mat-tab-group color="accent" backgroundColor="primary" class="w-100 mat-elevation-z8 h-100">
      <mat-tab label="Design Landscape">
        <div class="p-3">
          Fill Terrain :
          <mat-slider thumbLabel min="0" max="100" step="1" (input)="onCanvasSize($event)"></mat-slider>
          {{ canvasSize }}
          Terrain Type:
          <mat-slider thumbLabel min="0" max="10" step="1" [(value)]="terrainElevation"></mat-slider>
          {{ terrainElevation }}
        </div>
      </mat-tab>
      <mat-tab label="Numerical Input">
        <div class="ps-1 pe-1 pt-2">
          <mat-form-field appearance="outline" class="h-100 w-100 bg-dark text-white-50">
            <textarea matInput
                      [value]="grid.toString()"
                      class="h-100">
            </textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>


