::ng-deep .mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px) saturate(100%) contrast(90%) brightness(50%);
  overflow: hidden;
}

::ng-deep .mat-dialog-container:after {
  background-image: url("/assets/images/animation.gif");
  background-repeat: repeat;
  background-size: cover;
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

table {
  .mat-column-image {
    width: 10%;
  }

  .mat-column-name {
    width: 20%;
  }

  .mat-column-team {
    width: 20%;
  }

  .mat-column-rank {
    width: 20%;
    padding-left: 20px;
  }

  .mat-column-battleResults {
    width: 20%;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(47, 43, 43);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
