::ng-deep .mat-dialog-container {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px) saturate(100%) contrast(90%) brightness(50%);
  overflow: hidden;
}

table {
  .mat-column-image {
    width: 10%;
  }

  .mat-column-name {
    width: 20%;
  }

  .mat-column-team {
    width: 20%;
  }

  .mat-column-rank {
    width: 20%;
    padding-left: 20px;
  }

  .mat-column-battleResults {
    width: 20%;
    text-align: center;
  }
}
