<div fxLayout="column" class="bg-dark text-white-50">
  <div class="m-2">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1px" class="mt-5" *ngIf="visible" [@slideInOut]>
      <div fxFlex fxLayout="column" fxLayoutAlign="start end">
        <app-transformer-stats [transformer]="currentAutobot"></app-transformer-stats>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <app-transformer-opponent [transformerTeam]="'Autobot'" [transformer]="currentAutobot"></app-transformer-opponent>
      </div>
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40%">
          <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
          <span style="font-size: 3rem">vs</span>
          <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <app-transformer-opponent [transformerTeam]="'Decepticon'" [transformer]="currentDecepticons"></app-transformer-opponent>
      </div>
      <div fxFlex fxLayoutAlign="start start">
        <app-transformer-stats [transformer]="currentDecepticons"></app-transformer-stats>
      </div>
    </div>
    <br><br>
    <hr>
    <div fxLayout="row" class="mt-5" fxLayoutAlign="center center">
      <div fxFlex="30" fxLayoutAlign="center center">
        <img mat-card-avatar
             alt="logo"
             src="/assets/images/Autobot.gif"
             class="mat-elevation-z3 me-3"
             style="transform: scale(1.2)"/>
        <span style="font-size: 2.5em">Autobots</span>
      </div>
      <div>
        <button mat-flat-button *ngIf="!visible"
                (click)="beginBattle()"
                color="primary">Begin Battle
        </button>
      </div>
      <div fxFlex="30" fxLayoutAlign="center center">
        <img mat-card-avatar
             alt="logo"
             src="/assets/images/Decepticon.gif"
             class="mat-elevation-z3 me-3"
             style="transform: scale(1.2)"/>
        <span style="font-size: 2.5em">Decepticons</span>
      </div>
    </div>
      <div fxLayout="row" fxLayoutAlign="center start" class="mt-5">
        <div fxFlex="40">
          <app-transformer-teams  [transformerTeam]="'autobot'"  [transformers]="autobots"></app-transformer-teams>
        </div>
        <div fxFlex="40">
          <app-transformer-teams  [transformerTeam]="'decepticon'"  [transformers]="decepticons"></app-transformer-teams>
        </div>
      </div>
  </div>
</div>


