<label>Strength 👊</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.strength * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.strength}}
  </div>
</div>
<label class="mt-2">Intelligence 🧠</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.intelligence * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.intelligence}}
  </div>
</div>
<label class="mt-2">Speed 🚀</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.speed * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.speed}}
  </div>
</div>
<label class="mt-2">Endurance 🏇</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.endurance * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.endurance}}
  </div>
</div>
<label class="mt-2">Rank 🎯</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.rank * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.rank}}
  </div>
</div>
<label class="mt-2">courage 🌠</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.courage * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.courage}}
  </div>
</div>
<label class="mt-2">Firepower 🔥</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.firepower * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.firepower}}
  </div>
</div>
<label class="mt-2">Skill 💪</label>
<div class="progress" style="width: 250px">
  <div class="progress-bar" role="progressbar" [style.width]="transformer.skill * 10 + '%'" aria-valuenow="25" aria-valuemin="0"
       aria-valuemax="100">{{transformer.skill}}
  </div>
</div>
